.container {
  display: flex;
  gap: 24px;
}
.addDescBtn {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--border-line);
  margin-bottom: 44px;
  margin-top: 44px;
  position: relative;
}

.addDescLink {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  padding-bottom: 24px;
}

.addDescLink::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.addDescLink.activeButton::after {
  background-color: var(--light-red);
}
