.gallery {
  display: flex;
  gap: 16px;
  padding: 24px 0;
}

.thumb {
  height: 310px;
  min-width: 290px;
  border-radius: 10px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.desc {
  max-width: 900px;
  line-height: 150%;
  color: var(--text);
}
