.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  background-color: #fff;
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
}

.loadBtn:hover {
  border: 1px solid var(--light-red);
  /* background-color: var(--block-features); */
  cursor: pointer;
}
